.devcontainer
.devcontainer.test.ts
node_modules
templates
.editorconfig
.editorconfig.test.ts
.gitignore
.gitignore.test.ts
.npmignore
.vscode
.vscode.test.ts
CLAUDE.md
package.json.test.ts
prettier.config.mjs
prettier.config.test.ts
